@model IEnumerable<A_Todo_app.Models.TaskViewModel>


<table class="table table-bordered table-primary table-responsive table-hover ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Done
        </th>
        <th>
            Edit/Delete
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td id="taskDescription" >
            @Html.DisplayFor(modelItem => item.Description)
        </td>
       
        <td>
            <input type="checkbox" value="" id="flexCheckDefault" class="larger" >       
            
        </td>
        <td>

            <button type="button" class="btn btn-primary"><i class="fas fa-edit"></i>Edit</button>

            <button type="button" class="btn btn-danger"><i class="fas fa-trash"></i>Delete</button>
        </td>
            
        
    </tr>
}

</table>
