body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    font-family: 'Exo', sans-serif;
}
.jumbotron {
    background: rgb(255 255 255 / 0.45);
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form button {
    background-color: #03d7ff;
    border: 2px solid #03d7ff;
    border-radius: 4px;
    font-family: inherit;
    font-size: 15px;
}


input.larger {
    width: 20px;
    height: 20px;
  
}

/*.checkBoxLabel {
    font: 15px 'Exo 2', sans-serif;
}*/

@media only screen and (min-width: 0px) and (max-width: 700px) {
    td {
        display: inline-block;
        padding: 5px;
        width: 100%;
    }
}

.btn {
    font-size: 0.875em;
    display: block;
    left: -60px;
    margin-top: 35px;
    width: 100%;
}
