@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">


    <!--form-->
    <div class="container">

        <h1>To Do App</h1>
        <p class="lead">Its easy to manage your tasks now</p>


        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter new task">
        </div><!--form-group -->

        <div class="row">
            <div class="col-md-4 col-lg-2">
                <button class="btn btn-primary btn-block">Add task</button>
            </div><!-- col -->
        </div><!-- row -->

    </div><!-- Container-->




    <hr />
    <div class="row">
        <div class="col-sm-2">
            <p></p>
        </div>
    </div>


</div>
