@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">


    <!--form-->
    <div class="container">

        <h1>To Do App</h1>
        <p class="lead">Its easy to manage your tasks now</p>


        <div class="form-group">
            <input type="text" class="form-control" id="inputTask" placeholder="Enter new task">
        </div><!--form-group -->

        <div class="row">
            <div class="col-md-4 col-lg-2">

                <button type="button" class="btn btn-primary btn-block" id="buttonAddNewTask"> Add Task </button>
            </div><!-- col -->
        </div><!-- row -->

        <br />
    </div><!-- Container-->

    <!--bootstrap grid-->
    <div class="container">
        <div class="row" >
            <div class="col-sm" id="taskLists">
                
            </div>
            <div class="col-sm">
                
            </div>
            <div class="col-sm">
              
            </div>
        </div>
    </div>






    <div class="row">
        <div class="col-sm-2">
            <p></p>
        </div>
    </div>





</div>

@section Scripts
{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $('body').on('click', '#buttonAddNewTask', function () {

                var taskName = $(inputTask).val();

                if (taskName == null || taskName == "") {

                    alert("Task cannot be empty");
                    
                    return;
                }

               



                var dataToPost = {};
                dataToPost.Description = taskName;


                //posting data into controller

                $.post("@Url.Action("AddTask","Home")", { task: dataToPost }, function (data) {

                    if (data.status == 1) {
                        alert(data.message);

                        console.log(dataToPost);
                       
                        jQuery.each(dataToPost.Description, function (i, val) {
                          const li =   $("#taskLists").append(document.createElement("li"));
                            $("#taskLists").append(document.createTextNode(val));
                            const textnode = document.createTextNode($("taskLists"));
                            li.appendChild(textnode);
                            orderedList.appendChild(li);
                        });
                    }

                    else
                    {
                        alert("Something went wrong");
                    }

                })


            });


        });

       

     

    </script>


}

