@model IEnumerable<A_Todo_app.Models.TaskViewModel>
@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">


    <!--form-->
    <div class="container">

        <h1>To Do</h1>
        <p class="lead">Its easy to manage your tasks now</p>


        <div class="form-group">
            <input type="text" class="form-control" id="textInputTask" placeholder="Enter new task">
        </div><!--form-group -->

        <div class="row">
            <div class="col-md-4 col-lg-2">

                <button type="button" class="btn btn-primary btn-block" id="buttonAddNewTask"> Add Task </button>
            </div><!-- col -->
        </div><!-- row -->

        <br />
    </div><!-- Container-->

    <div id="divTaskList">
    </div>

</div>







@section Scripts
{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript">

        $(function () {
            $('body').on('click', '#buttonAddNewTask', function () {
                var inputTask = $("#textInputTask").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AjaxMethod", "Home")',
                    data: { enteredTask: inputTask },
                    dataType: "HTML",
                    success: function (response) {
                      //  alert('Button clicked');
                        var taskName = $(textInputTask).val();
                        if (taskName == null || taskName == "") {

                            alert("Task cannot be empty");

                            return;
                        }
                        else
                        {
                            $('#divTaskList').html(response);

                        }




                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });


        //Loading session data using AJAX

        @*function LoadData() {
           var task = "@Session["Description"]";
            $.ajax({
                type: "GET",
                url: "/Home/GetSessionData",

                success: function (response) {

                    $.each(response, function (i, task) {

                        $(document).ready(function () {
                            taskAdd();
                        });

                       /* var rows = "<tr align='center', id='taskrow' , class='taskRowClass'>" + "<td>" + task + "</td>"  + "</tr>";*/



                      /*  $('#tableTasklists tbody').append(rows)*/

                        .append(
                            $(document.createElement('input')).prop({
                                id: 'taskCheckBox',
                                type: 'checkbox',
                                class: 'larger',
                                value: 'Done'

                            }).append($(document.createElement('label')).prop({
                                for: 'taskCheckBox'
                            }).html('Done')))








                        //using live to bind event for dynamically added elements
                        //removing appended elements using its index

                        $("#taskCheckBox").live('change', function () {


                            //edit  function
                            //delete function

                            //var checkboxIndex = $(this).index()

                            //var rowindex = $(this).parent().index();

                            ////removing rows
                            //$("input").eq(checkboxIndex).remove();
                            //$("tr").eq(rowindex).remove();




                        });



                    })







                },
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });
            return false;

        }*@



        //function taskAdd() {
        //    // First check if a <tbody> tag exists, add one if not
        //    if ($("#tableTasklists tbody").length == 0) {
        //        $("#tableTasklists").append("<tbody></tbody>");
        //    }

        //    // Append product to the table
        //    $("#tableTasklists tbody").append
        //    (
        //            "<tr align='center', id='taskrow' , class='taskRowClass'>" + "<td>" + task + "</td>" + "</tr>"
        //    );



    </script>


}

